.player {
    display: flex;
    color: white;
    background-color: rgb(187, 187, 187);

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px 30px;
    font-size: 24px;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 30px;

     &-active {
      background-color: orange;
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
    }
}