







<div class="field">
<div class="player-container">

  <app-player *ngFor="let player of game.players; let i = index" 
  [playerActive]="i == game.currentPlayer"
  [player]="player"
   [style.margin-top.px]="getTopPosition(i)" class="player"></app-player>
  </div>

    <!-- <app-player *ngFor="let player of game.players; let i = index" [player]="player" [style.top.px]="getTopPosition(i)"></app-player> -->
    <div class="card-stack">

        <!-- Card Stack -->
        <img *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{ 'right.px': i * 5 }"
        src="./assets/img/card_cover.png">
        <img (click)="takeCard()" style="right:25px" 
        src="./assets/img/card_cover.png">
        
        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="./assets/img/{{ card }}.png" alt="">
        
        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pickCardAnimation pick-card" style="right:25px" 
        src="./assets/img/{{ game.currentCard }}.png">

    </div>
</div>

<app-game-info [card] ="game.currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
  <mat-icon>add</mat-icon>
</button>




<!-- <button mat-fab mat-button>Click me</button>
<mat-icon>add</mat-icon>
<mat-divider></mat-divider>
 -->